body {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.square {
    margin: 0;
    left: 0%;
    top: 0%;
    list-style-type: none;
    width: 50%;
    height: 5%;
    background-color: #33ADFF;
    position: absolute;
    text-align: center;
    font-size: 4vh;
}

#clsfot {
    visibility: hidden;
}




.zh {
    position: fixed;
    left:0;
    bottom:0;
    width: 100%;
    overflow: hidden;
    color: #ddd;
    text-align: center;
    background-color: #333;
  }
  



.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }