body {
    background: url(image/background2.jpg) ;
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p{
    font-size: 10px;
    display: block;
    margin: 0 auto;
    width: 80%;
}

#clsfot {
visibility:hidden;
}